@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(31, 31, 31);
    --segunda-color: rgb(53, 52, 52);
    --color-black: rgb(0, 0, 0);
    --color-white: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    color: var(--color-black);
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3rem;
    line-height: 1.5em; 
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background-color: rgb(221, 221, 221);
    padding: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .5);
    border-radius: 10px;
}